body {
  background-color: #161b22;
  color: #ccc;
  font-family: verdana;
  
}
h1 {
  color: #ccc;
  text-align: center;
  
}
h2 h3 {
	text-align: center;
	
   
  font-size: 15px;
}
p {
  color: #ccc;	

}
